test_states/
/models
/logs
/plots
/data
/training_states
__pycache__
*.joblib
*.ipynb
/small_data
/training_states_2
/training_states_4
/training_states_6
/training_states_8
/training_states_10
/training_states_14
/training_states_12
/training_states_16
/datasets
.DS_Store
/data_entropy
/training_states_different_J